# Dependencies
/frontend/node_modules
/backend/node_modules

# Build outputs
/frontend/dist
/frontend/.next
/frontend/out

# Environment files
/.env
/.env.prod
/backend/.env

# Debug logs
npm-debug.log*

# OS
.DS_Store

# Testing
/frontend/coverage