services:
  mongo:
    image: mongo:latest
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    env_file:
      - .env
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    container_name: backend
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      - PORT=3000
      - MONGO_URI=mongodb://${MONGO_USER}:${MONGO_PASSWORD}@mongo:27017/${MONGO_DATABASE_NAME}?authSource=admin
    depends_on:
      - mongo

  frontend:
    build:
      context: ./frontend
      args:
        - GIT_COMMIT_HASH=${GIT_COMMIT_HASH:-unknown}
    container_name: frontend
    restart: always
    ports:
      - "8080:3000"
    environment:
      - API_URL=http://backend:3000
    depends_on:
      - backend

volumes:
  mongo-data:
